#--- Ignore Emacs-style backups
*~

#--- Ignore my working notes, HTML template files and backup zips:
*.text
*.htm
*.zip

#--- Ignore Emacs byte code files
*.elc

#--- Ignore Emacs locks etc
*/.#*
*/#*#